# Gmail SMTP Configuration (for sending email alerts)
GMAIL_EMAIL=your_gmail@gmail.com
GMAIL_PASSWORD=your_16_char_app_password

# OpenWeather API
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY

# Flask Configuration
FLASK_ENV=development
FLASK_PORT=5001
